<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:arg name="robot_name" default="panda"/>
  <xacro:arg name="load_gazebo" default="false"/>

  <xacro:include filename="$(find franka_panda_description)/robots/panda_arm.xacro"/>
  <xacro:unless value="$(arg load_gazebo)">  
    <xacro:panda_arm />
  </xacro:unless>

  <xacro:if value="$(arg load_gazebo)">  
    <xacro:include filename="$(find franka_panda_description)/robots/panda.gazebo.xacro"/>
    <xacro:include filename="$(find franka_panda_description)/robots/panda.transmission.xacro"/>
    
    <xacro:panda_arm in_gazebo="true" />
    <xacro:panda_gazebo robot_name="$(arg robot_name)"/>
    <xacro:panda_transmission robot_name="$(arg robot_name)"/> 
  </xacro:if>

 

</robot>
